<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> -->
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}" style="font-size: 16px; font-style: oblique; font-weight: 600;"></div>
			<div class="card-body">
			
				<ul class="list-group">
					<li class="list-group-item list-group-item-primary " th:text="'Nombres: ' + ${profesor.nombre}"></li>
					<li class="list-group-item" th:text="'Apellidos: ' + ${profesor.apellido}"></li>
					<li class="list-group-item" th:text="'Email: ' + ${profesor.email}"></li>
					<li class="list-group-item" th:text="'Cédula: ' + ${profesor.cedula}"></li>
				</ul>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>